/node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
.idea


.nyc_output

cart_service/.env
order_service/.env
comm_service/.env


cart_service/.env
comm_service/.env
order_service/.env

*/config.js
order_service/db/config.js

*/.env


