/node_modules
*/node_modules
.idea


.nyc_output

cart_service/.env
comm_service/.env
order_service/.env

*/config.js
order_service/db/config.js

*/.env

product_service/uploads/*
auth_service/uploads/*

